<div class="container mt-5">
  <h2 class="mb-4">Krijo artikullin</h2>
  <%= form_with  url: detect_path, method: :post do |form| %>
    <div class="form-group">
      <%= form.text_field :url, class: "form-control", id: "inputField", placeholder: "ex: https://www.example.com/title-of-article" %>
      <br>
    </div>
    <%= form.submit "Shto", class: "btn btn-primary" %>
  <% end %>
</div>
